
<h1>All About Logan</h1>
<div id="right">
  <p>Am I right, or am I right?</p>
</div>


<div>
  <p>This is an about page about Logan</p>
  <p>He has two children and two baby mamas</p>

<div id="ivy"><span>Blue Ivy and Beyonce</span><img src="http://static4.businessinsider.com/image/52ab3c28eab8ea32063a73d1/jay-z-and-blue-ivy-are-the-stars-of-beyoncs-personal-new-music-videos.jpg" height = "200" width = "200"> </img> </div>
  <div id="north"><span>North West and Kim</span> <img src=http://i.dailymail.co.uk/i/pix/2013/11/08/article-2491795-19431EC200000578-488_634x715.jpg height = "200" width = "200" class="img-rounded"</img></div>




</table>



</div>
